<!DOCTYPE html>
<html lang="it" ng-app>
<head>
    <title></title>
    <!-- link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" !-->
    <link href="bootstrap.min.css" rel="stylesheet">
<style>
/*210x297*/
#container {
    margin: 20mm;
    width: 190mm;
    font: normal 100% Arial, sans-serif;
}
#logo {
    width: 120mm;
    height: 100mm;
    padding: 5mm;
    border: 0.5mm dotted black;
}
#logo td {
  text-align: center;
  font: normal 75% Arial, sans-serif;
}
#logo #express {
  font: bold 220% Arial, sans-serif;
  text-shadow: 3px 2px 5px rgba(150, 150, 150, 1);
}
#logo #pietro {
  font: bold 100% Arial, sans-serif;
  padding-bottom: 1.5mm;
}
#spacer {
    height: 30mm;
    border: 0.5mm dotted red;
}
#indirizzo {
    width: 85mm;
    height: 33mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 5mm;
    position: absolute;
    top: 50mm;
    left: 110mm;
}
#numero {
    width: 66mm;
    height: 20mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 3mm;
    display: inline-block;
}
#banca {
    width: 120mm;
    height: 20mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 3mm;
    margin: 0 0 3mm 0;
    float: right;
}
#articoli {
    width: 190mm;
    height: 130mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 5mm 0 5mm 0;
    margin: 3mm 0 3mm 0;
}
#spese {
    width: 80mm;
    height: 30mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 5mm;
    display: inline-block;
}
#totale {
    width: 100mm;
    height: 30mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 5mm;
    float: right;
}
/*
table, th, td {
    border: 1px solid black;
}
th {
    height:10mm;
}
*/
</style>
</head>

<body ng-controller="dataCtrl">
<div id="container">
<div id="logo">
<table>
<tr><td id="express">EXPRESS</td></tr>
<tr><td id="pietro">di Pietro Pasquali</td></tr>
<tr><td>Via Firenze, 108 - 25036 PALAZZOLO S/O (BS)</td></tr>
<tr><td>Tel. 030/738341 - 7402632 - Fax 030/7402632</td></tr>
<tr><td>Codice Fiscale PSQ PTR 67 M27 G327I</td></tr>
<tr><td>Partita IVA 01921630982</td></tr>
<tr><td>Registro Imprese BRESCIA 188342-1997</td></tr>
</table>
</div>
<div id="indirizzo">iii
</div>
<div id="spacer"></div>
<div id="numero">nnn
</div>
<div id="banca">bbbb
</div>
<div id="articoli">
    <table class="table table-striped">
      <tbody style="border-bottom: solid; border-bottom-color: rgb(195, 195, 195); border-bottom-width: 1px;">
         <tr>
            <th ng-repeat="t in data.titles">{{t}}</th>
        </tr>
        <tr ng-repeat="row in data.rows">
            <td ng-bind="row.d1"></td>
            <td ng-bind="row.d2"></td>
            <td ng-bind="row.d3"></td>
            <td ng-bind="row.d4"></td>
        </tr>
    </tbody>
    </table>
</div>
<div id="spese">sss
</div>
<div id="totale">ttt</div>
</div>

<!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
!-->
    <script src="angular.js"></script>
    <script src="jquery-1.11.0.min.js"></script>
    <script src="bootstrap.min.js"></script>

    <script>
function dataCtrl($scope) {
  $scope.data = {
    title:'learn angular',
    titles: ['Title1', 'Title2', 'Title3', 'Title4'],
    rows: [
      {d1: '1', d2: 'Description', d3: '1', d4: '1'},
      {d1: '2', d2: 'Description', d3: '1', d4: '1'},
      {d1: '3', d2: 'Description', d3: '1', d4: '1'},
      {d1: '4', d2: 'Description', d3: '1', d4: '1'},
      {d1: '5', d2: 'Description', d3: '1', d4: '1'},
      {d1: '6', d2: 'Description', d3: '1', d4: '1'},
      {d1: '7', d2: 'Description', d3: '1', d4: '1'},
      {d1: '8', d2: 'Description', d3: '1', d4: '1'},
      {d1: '9', d2: 'Description', d3: '1', d4: '1'},
      {d1: 'a', d2: 'Description', d3: '1', d4: '1'},
      {d1: 'b', d2: 'Description', d3: '1', d4: '1'},
    ]
  };
};
    </script>

</body>
</html>
