/* app css stylesheet */
tbody {
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
 body {
    padding: 55px 0 0 0;
}
input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
@media (min-width: 992px) {
    .container {
        margin-left: 5%;
        width: 90%;
    }
    .align-right {
        text-align: right;
        line-height: 2.35;
    }
    .form-group, .panel {
        margin-bottom: 5px;
    }
    .panel-nesting {
        padding-left: 8px;
        padding-right: 8px;
    }
/*    .panel-body {
        padding: 5px 25px 5px 25px;
    }
*/
    .panel-heading {
        padding: 8px;
    }
    .panel-body-slim {
        padding-bottom: 0;
    }
    .input-group-addon {
        padding-right: 3px;
        padding-left: 3px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }
}
@media (min-width: 1200px) {
    .input-group-addon {
        padding-right: 10px;
        padding-left: 10px;
    }
}
/*
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 70%;
    min-height: 300px;
}


/*
.form-control {
    width: auto;    display: inline;
    height: 30px;
}
.note {
    width: 30em;
    min-width: 10em;
    max-width: 80em;
    white-space: nowrap;
}
label {
    display: inline;
    font-weight: bold;
}
fieldset {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}
fieldset legend {
  width: auto;
  border: 0;
  margin: 0 10px;
  padding: 0 3px;
}
*/

/*
input {
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  margin: 5px
}
*/

/*
.myHBox
{
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.myVBox
{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}
.myFlex
{
  -webkit-box-flex: 1;
}
*/
