<form novalidate class="css-form" ng-controller="FormAbbonamentoCtrl">
    <label class="control-label">Abbonamento Disdettato
        <input style="display: box; width: 100%;" type="checkbox" ng-model="abbonamento.seDisdetta" />
    </label>
    <fieldset ng-disabled="abbonamento.seDisdetta">
        <label class="control-label">N. estintori
            <input class="form-control" type="text" ng-model="abbonamento.numeroEstintori" />
        </label>

        <label class="control-label">Emissione fattura
            <input class="form-control" type="date" ng-model="dataEmiss" value="{{ dataEmiss | date: 'yyyy-MM-dd' }}" />
        </label>
        <label class="control-label">Costo
            <input class="form-control" type="number" step="0.01" ng-model="abbonamento.costo" />
        </label>
        <label class="control-label">IVA
            <input class="form-control" type="number" step="1" ng-model="abbonamento.IVA" />
        </label>
        <label class="control-label">Ritenuta
            <input class="form-control" type="number" step="1" ng-model="abbonamento.ritenuta" />
        </label>
        <label class="control-label">Spese
            <input class="form-control" type="number" step="0.01" ng-model="abbonamento.costoSpese" />
        </label>
        <label class="control-label">Descrizione spese
            <input class="form-control" type="text" ng-model="abbonamento.descrizioneSpese" />
        </label>
        <label class="control-label">giorni
            <input class="form-control" type="number" ng-model="abbonamento.giorniPagamento" />
        </label>
        <p>
            <label class="control-label">Note
                <br />
                <textarea class="form-control note" ng-model="abbonamento.note" /></textarea>
            </label>
        </p>
        <label class="control-label">Fattura a Gennaio
            <input class="form-control" type="checkbox" ng-model="abbonamento.seFatturareAGennaio" />
        </label>
        <label class="control-label">Tipo di pagamento
            <select class="form-control" required ng-model="abbonamento.tipoPagamento" ng-options="t.tipo as t.nome for t in tipiPagamento" ng-change="cambiato()">
            </select>

        </label>

        <div ng-include="'partials/formIndirizzo.html'" ng-init="parametri={title: 'Indirizzo manutenzione', fieldName: 'indirizzo'}">
        </div>

        <div ng-include="'partials/formContatti.html'" ng-init="titoloContatti='Contatti manutenzione';">
        </div>

    </fieldset>

    <button class="btn btn-default btn-xs" ng-click="save(abbonamento)">SALVA</button>
</form>
