<!-- alerts module -->
<div style="position: fixed; right: 1ex;" class="alert alert-info" role="alert" ng-if="updateStatus.updating">
    Operazione in corso
</div>
<div class="alert alert-danger" role="alert" ng-if="updateStatus.errorMessages.length">
    <span class="glyphicon glyphicon-remove" ng-click="cleanErrorMessages()" aria-hidden="true"></span>
    <button aria-label="OK" class="sr-only" ng-click="cleanErrorMessages()">OK</button>
    <span class="sr-only">Errori</span>
    <span ng-repeat="message in updateStatus.errorMessages"> {{message}} <br /> </span>
</div>
<!-- <div style="position: fixed; margin-left: -8ex; margin-top: 1ex;"> -->
<button class="btn btn-xs btn-primary" ng-click="deepSave(cliente)">SALVA</button>
<tabset>
    <tab active="cliente._bag.active">
        <tab-heading>
<!--             <button class="btn btn-xs btn-primary" ng-click="deepSave(cliente)">SALVA</button>
 -->            <span>Cliente [{{cliente.numero}}]</span>
        </tab-heading>
        <div ng-include="'partials/formCliente.html'"></div>
    </tab>
    <tab ng-repeat="abbonamento in cliente.abbonamentoEstintori" heading="Abbonamento [{{abbonamento.numero}}]" active="abbonamento._bag.active" class="tab-pane fade in" ng-init="index=$index;">
        <div ng-include="'partials/formAbbonamento.html'"></div>
    </tab>
    <tab>
        <tab-heading>
            <button class="btn btn-xs btn-primary" ng-click="nuovoAbbonamento(cliente)">
                <span class="glyphicon glyphicon-plus"></span> ABBONAMENTO
            </button>
        </tab-heading>
    </tab>
</tabset>
