<form class="form-horizontal" role="form" novalidate>
    <legend>Gestione commessa
    </legend>
    <div class="form-group">
        <label class="col-md-2 control-label">Codice:</label>
        <div class="col-md-2">
            <input id="i1" class="form-control col-sm-5" type="text" ng-model="commessa.codice" />
        </div>
        <button type="button" class="btn btn-primary" ng-hide="commessa" ng-click="new()">Crea</button>
        <button type="button" class="btn btn-primary" ng-show="commessa"  ng-click="save()">Salva</button>
        <button type="button" class="btn btn-primary" ng-show="commessa"  ng-click="delete()">Elimina</button>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Descrizione:
        </label>
        <div class="col-md-5">
            <input class="form-control" type="text" ng-model="commessa.descrizione" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Note:
        </label>
        <div class="col-md-5">
            <textarea class="form-control" ng-model="commessa.note"></textarea>
        </div>
    </div>
    <div class="form-group">

        <label class="col-md-2 control-label">Data di consegna:</label>
        <div class="col-md-2">
            <input class="form-control" type="text" ng-model="commessa.data_consegna" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Disegnatore:</label>
        <div class="col-md-3">
            <select class="form-control" required ng-model="commessa.disegnatore_id" ng-options="t.id as t.nome for t in disegnatori">
                <option value=""></option>
            </select>
        </div>
    </div>
</form>
<br>
<div class="col-md-8 col-md-offset-1">
    <div class="table table-condensed table-bordered" ng-grid="gridOptions" ng-controller="CommesseCtrl"></div>
</div>
