<ul class="pagination">
    <li><a href="#">&laquo;</a>
    </li>
    <li><a href="#">1</a>
    </li>
    <li><a href="#">2</a>
    </li>
    <li><a href="#">3</a>
    </li>
    <li><a href="#">4</a>
    </li>
    <li><a href="#">5</a>
    </li>
    <li><a href="#">&raquo;</a>
    </li>
</ul>
<style>
.c1 {
    width: 4em;
}
.c1a {
    width: 5em;
}
.c2 {
    width: 4em;
}
.c3 {
    width: 30em;
}
.c4 {
    width: 20em;
}
.c5 {
    width: 15em;
}
.c6 {
    width: 20em;
}
.c7 {
    width: 20em;
}
</style>
<div class="table-responsive">
    <button class="btn btn-xs btn-primary" ng-click="new()">
        <span class="glyphicon glyphicon-plus"></span> Nuovo cliente
    </button>
    <table xng-table="tableParams" show-filter="true" template-pagination="custom/pager" class="table table-striped xtable-bordered table-condensed table-hover">
        <thead style="display:block;">
            <tr>
                <th class="c1a">N.
                    <div ng-show="showSearch">
                        <input size="1" type="text">
                    </div>
                </th>
                <th class="c2">
                    <div ng-show="showSearch">
                        <!-- <input type="text" size="1" ng-model="showSearch">Cerca</button> -->
                    </div>
                </th>
                <th class="c3">Ragione sociale
                    <div ng-show="showSearch">
                        <input size="20" type="text">
                    </div>
                </th>
                <th class="c4">Comune
                    <div ng-show="showSearch">
                        <input size="10" type="text">
                    </div>
                </th>
                <th class="c5">Indirizzo
                    <div ng-show="showSearch">
                        <input size="10" type="text">
                    </div>
                </th>
                <th class="c6">Localit&agrave;
                    <div ng-show="showSearch">
                        <input size="10" type="text">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody style="display:block; height:auto; overflow:auto; xmax-height:90%;">

            <tr ng-repeat="cliente in clienti">
                <td class="c1" data-title="'N.'" sortable="numero">
                    {{cliente.numero}}
                </td>
                <td class="c2" data-title="'N.'">
                    <button class="btn btn-normal btn-sm" ng-click="edit(cliente.id)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>


                <td class="c3" data-title="'Ragione sociale'" sortable="ragioneSociale1">
                    {{cliente.ragioneSociale1}}
                    {{cliente.ragioneSociale2}}
                </td>


                <td class="c4" data-title="'Comune'">
                    <!-- {{cliente.indirizzo.comune.comune}} -->
                    {{cliente.comune}}
                </td>
                <td class="c5" data-title="'Indirizzo'">
                    <!-- {{cliente.indirizzo.indirizzo}} -->
                    {{cliente.indirizzo}}
                </td>
                <td class="c6" data-title="'Localit&agrave;'">
                    {{cliente.localita}}
                    <!-- {{cliente.indirizzo.localita}} -->
                </td>

            </tr>
        </tbody>
    </table>
</div>
