<div class="table-responsive">
<table ng-table="tableParams" show-filter="true" class="table table-striped table-borderedtable-condensed table-hover">
<tbody>
          <tr ng-repeat="comune in comuni">
            <td data-title="'Comune'" filter="{ 'comune': 'text' }" sortable="comune">
                    {{::comune.comune}}
                </td>
            <td data-title="'CAP'" sortable="CAP">
                    {{::comune.CAP}}
                </td>
            <td data-title="'Provincia'" sortable="comune.provincia">
                    {{::comune.provincia}}
                </td>

          </tr>
        </tbody>
</table>
</div>
