<style>
/*A4: 210x297*/

.lfloat {
    float: left;
    /*margin-right: 10mm;*/
}
.rfloat {
    float: right;
}
.nofloat {
    clear: both;
}
#commands {
    position: fixed;
    left: 10mm;
    /*top: 1ex;*/
    /*margin-left: -10mm;*/
}
#container * {
    padding: 0;
    margin: 0;
}
#container {
    position: relative;
    top: 0mm;
    left: 0mm;
    width: 190mm;
    font: normal 100% Arial, sans-serif;
    margin-bottom: 5mm;
}
#logo {
    text-align: center;
    width: 75mm;
    /*margin: 0 0 10mm 0;*/
}
#logo p {
    font: normal 70% Arial, sans-serif;
}
#logo #express {
    font: bold 260% Arial, sans-serif;
    text-shadow: 3px 2px 5px rgba(150, 150, 150, 1);
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
}
#logo #pietro {
    font: bold 100% Arial, sans-serif;
    padding-bottom: 1.5mm;
}
#numeroInIndirizzo {
    position: relative;
    top: 0mm;
    right: 0mm;
    width: 14mm;
    margin: -5mm;
    padding: 2mm;
    border-left: 0.6mm solid lightBlue;
    border-bottom: 0.6mm solid lightBlue;
    border-radius: 3mm;
    float: right;
}
#indirizzo {
    margin-top: -20mm;
    width: 100mm;
    height: 40mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 5mm;
}
#padder {
    height: 25mm;
}
.rlabel {
    text-align: right;
    margin-right: 3mm !important;
}
#numero {
    line-height: 1.6;
    width: 68mm;
    height: 18mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 3mm 0 2mm 6mm;
    margin-bottom: 2mm;
    /*display: inline-block;*/
}
#cfpiva {
    line-height: 1.6;
    width: 80mm;
    height: 18mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 3mm;
    /*margin-right: 3 mm*/
    /*display: inline-block;*/
}
#pagamento {
    line-height: 1.6;
    width: 110mm;
    height: 34mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 3mm;
    margin-top: 2mm;
    /*margin-bottom: 2mm;*/
    /*float: right;*/
}
#spese {
    width: 110mm;
    height: 12mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 4mm 2mm 2mm 8mm;
    /*display: inline-block;*/
}
#totale > div {
    border-bottom: 0.3mm dotted gray;
    line-height: 2;
}
#totale > div:last-child,
#totale >:nth-last-child(2) {
    border-bottom: none;
}
#totale strong {
    display: inline-block;
    width: 30mm;
    text-align: right;
    border-right: 0.3mm dotted gray;
    padding-right: 2mm;
    margin-right: 2mm;
}
#totale {
    width: 75mm;
    height: 38mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    padding: 0;
}
#articoli {
    /*width: 190mm;*/

    width: 100%;
    height: 130mm;
    border: 0.6mm solid lightBlue;
    border-radius: 5mm;
    margin: 0 0 3mm 0;
}
#articoli .descrizione {
    text-align: center;
    padding-left: -50mm;
}
#articoli table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}
#articoli th {
    padding: 7mm 3mm 1mm 3mm;
}
#articoli td {
    vertical-align: top;
    border-left: 1px solid #ddd;
    padding: 2mm 3mm 0 3mm;
}
#articoli td:first-child {
    border-left: 0;
}
#articoli tbody > tr:first-child {
    border-top: 1px solid #ddd;
}
</style>
<div id="commands">
    <button class="btn btn-normal btn-sm" ng-click="gotoOrigin()">
        <span class="glyphicon glyphicon-edit"></span>
    </button>
    <br>
    <br>
    <button class="btn btn-normal btn-sm" ng-click="print()">
        <span class="glyphicon glyphicon-print"></span>
    </button>
</div>
<div id="container">
    <div id="logo">
        <span id="express">EXPRESS</span>
        <p id="pietro">di Pietro Pasquali</p>
        <p>Via Firenze, 108 - 25036 PALAZZOLO S/O (BS)</p>
        <p>Tel. 030/738341 - 7402632 - Fax 030/7402632</p>
        <p>Codice Fiscale PSQ PTR 67 M27 G327I</p>
        <p>Partita IVA 01921630982</p>
        <p>Registro Imprese BRESCIA 188342-1997</p>
        <p>IBAN: IT 66 N 03244 54900 000000003879 </p>
    </div>
    <div id="indirizzo" class="rfloat">
        <div id="numeroInIndirizzo">{{::item.numero}}</div>
        Spett.
        <br>
        <span>
            {{::item.ragioneSociale1}}<br>
        </span>
        <span>
            {{::item.ragioneSociale2}}<br>
        </span>
        <span>
            {{::item.localita}}<br>
        </span>
        <span>
            {{::item.indirizzo}}<br>
        </span>
        <span>
            {{::item.CAP}}&nbsp;
            {{::item.comune}}&nbsp;
            {{::item.provincia}}
        </span>
    </div>
    <div id="padder">
    </div>
    <div id="numero" class="lfloat">
        <div class="lfloat rlabel">
            <p><strong>Fattuna n.<sup>o</sup></strong>
            </p>
            <p><strong>del</strong></strong>
            </p>
        </div>
        <div class="lfloat">
            <p>{{::item.numero}}</p>
            <p>{{::item.dataEmissione | date : "dd/MM/yyyy"}}</p>
        </div>
    </div>
    <div id="cfpiva" class="rfloat">
        <div class="lfloat rlabel">
            <p><strong>C.F. cliente</strong> </p>
            <p><strong>P.IVA cliente</strong> </p>
        </div>
        <div class="lfloat">
            <p>{{::item.codiceFiscale}}</p>
            <p>{{::item.partitaIVA}}</p>
        </div>
    </div>
    <div id="articoli" class="nofloat">
        <table xclass="table table-striped">
            <thead>
                <tr>
                    <th>Q.t&agrave;</th>
                    <th>Articolo</th>
                    <th class="descrizione">Descrizione</th>
                    <th>Importo</th>
                </tr>
            </thead>
            <tbody style="border-bottom: solid; border-bottom-color: rgb(195, 195, 195); border-bottom-width: 1px;">
                <tr>
                    <td class="td1st">1</td>
                    <td>Abbonamento</td>
                    <td class="descrizione">Abbonamento di manutenzione</td>
                    <td>{{::item.costo | currency : "€" : 2}}</td>
                </tr>
                <tr>
                    <td class="td1st"></td>
                    <td></td>
                    <td class="descrizione">a norma UNI, legge 626</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1st"></td>
                    <td></td>
                    <td class="descrizione">per numero {{::item.numeroEstintori}} estintori</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1st"></td>
                    <td></td>
                    <td class="descrizione">per 1 anno</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td1st"></td>
                    <td></td>
                    <td class="descrizione">fino a tutto il {{::item.anno}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="spese" class="lfloat">
        <div ng-if="item.costoSpese > 0.001">
            <strong>Spese:&nbsp;&nbsp;</strong> {{::item.costoSpese | currency : "€" : 2}},&nbsp; {{::item.descrizioneSpese}}
        </div>
    </div>
    <div id="totale" class="rfloat">
        <div class="lfloat"><strong>Totale</strong> </div>
        <div>{{::item.costo | currency : "€" : 2}}</div>
        <div class="lfloat"><strong>Imponibile</strong> </div>
        <div>{{::item.imponibile | currency : "€" : 2}}</div>
        <div class="lfloat" ng-if="item.ritenuta">
            <strong>Ritenuta&nbsp;&nbsp;{{::item.ritenuta}}%</strong>
        </div>
        <div ng-if="!item.ritenuta"><strong>&nbsp;</strong>&nbsp;</div>
        <div ng-if="item.ritenuta">
            - {{item.ritenuta*item.imponibile/100 | currency : "€" : 2}}
        </div>
        <div class="lfloat"><strong>IVA&nbsp;&nbsp;{{::item.IVA}}%</strong>
        </div>
        <div class="lfloat"></div>
        <div>+ {{item.IVA*item.imponibile/100 | currency : "€" : 2}}</div>
        <div class="lfloat"><strong>Totale fattura</strong>
        </div>
        <div>{{::item.totale | currency : "€" : 2}}</div>
    </div>

    <div id="pagamento" class="lfloat">
        <div class="lfloat rlabel">
            <p><strong>Pagamento</strong> </p>
            <p><strong>Banca</strong> </p>
            <p><strong>Agenzia</strong> </p>
            <p><strong>ABI</strong> </p>
        </div>
        <div class="lfloat">
            <p>
                <span ng-if="item.tipoPagamento === myScope.RIBA">
                    {{::item.descrizionePagamento}}
                    &nbsp;{{::item.giorniPagamento}}
                    &nbsp;gg,
                    &nbsp;scadenza
                    &nbsp;{{::item.dataPagamento | date : "dd/MM/yyyy"}}
                </span>
                <span ng-if="item.tipoPagamento === myScope.RIMESSA_DIRETTA">
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong><i>RIMESSA DIRETTA</i></strong>
                </span>
                <span ng-if="item.tipoPagamento === myScope.BONIFICO">
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong><i>BONIFICO</i></strong>
                </span>
            </p>
            <p> {{::item.banca}} </p>
            <p> {{::item.filiale}} </p>
            <p>
            {{::item.ABI}}
            &nbsp;&nbsp;<strong>CAB</strong>&nbsp;{{::item.CAB}}
            &nbsp;&nbsp;<strong>conto</strong>&nbsp;{{::item.contoCorrente}}
            </p>
        </div>
        <div class="lfloat">
        </div>
    </div>
</div>
</div>
