<form novalidate class="css-form" ng-controller="FormAbbonamentoCtrl">
    <div class="panel panel-default">
        <div class="panel-body panel-body-slim">
            <div class="row">
                <div class="col-md-1 form-group"></div>
                <div class="col-md-2 form-group">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" ng-model="abbonamento.seDisdetta" />
                        <strong>Disdettato</strong>
                    </label>

                </div>


                <div class="col-md-4 form-group">
                <div class="col-md-10 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" style="padding-top: 0; padding-bottom: 0;">
                        <button ng-click="viewInvoice(fatturaSelezionata)">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                        </span>
                        <select class="form-control" ng-model="fatturaSelezionata" ng-options="f.text for f in fatture" dir="rtl">
                        </select>
                        <span class="input-group-addon" style="padding-top: 0; padding-bottom: 0;">
                            <span class="glyphicon glyphicon-minus" style="visibility:hidden;"></span>
                        </span>
                        <span class="input-group-addon" style="padding-top: 0; padding-bottom: 0;">
                <button class="btn btn-xs btn-primary" ng-click="newInvoice()">
                    <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        </span>
                        <span ng-show="fatture.length" class="input-group-addon" style="padding-top: 0; padding-bottom: 0;">
                            <button class="btn btn-danger btn-xs" ng-click="deleteInvoice(fatturaSelezionata)">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </span>
                    </div>
                </div>
                </div>


                <div class="form-group col-md-4 align-right">
                    <label class="control-label">
                        <button class="btn btn-danger btn-sm" ng-click="delete()">
                            Cancella abbonamento
                        </button>
                    </label>
                </div>

            </div>
        </div>
    </div>
    <!-- <fieldset ng-disabled="abbonamento.seDisdetta"> -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 form-group">
                    <br />
                    <label class="control-label" style="display: inline-block;">
                        N.<sup>o</sup>
                    </label>
                    <input class="form-control" style="width: 4em;display: inline-block;" type="text" ng-model="abbonamento.numeroEstintori" />
                    <label class="control-label" style="display: inline-block;">
                        estintori</label>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Costo</label>
                        <div class="input-group">
                            <span class="input-group-addon">&euro;</span>
                            <input class="form-control" xstyle="width: 7em;" type="text" step="1" ng-model="abbonamento.costo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">
                            Spese</label>
                        <div class="input-group">
                            <span class="input-group-addon">&euro;</span>
                            <input class="form-control" type="text" ng-model="abbonamento.costoSpese" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Descrizione spese</label>
                        <input class="form-control" type="text" ng-model="abbonamento.descrizioneSpese" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">
                            IVA</label>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="abbonamento.IVA" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">
                            Ritenuta</label>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="abbonamento.ritenuta" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Totale</label>
                    <div class="well well-sm" style="text-align: center;">
                        <strong>&euro;&nbsp;&nbsp;{{abbonamento.totale()}}&nbsp;&nbsp;&nbsp;</strong>
                    </div>
                    <!-- <div class="form-group">
                    <p class="form-control-static"> <strong>&euro;</strong> {{abbonamento.totale()}}</p>
 -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Tipo pagamento</label>
                        <select class="form-control" required ng-model="abbonamento.tipoPagamento" ng-options="t.tipo as t.nome for t in tipiPagamento">
                            <!--  ng-change="cambioTipoPagamento()"> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Mese fattura</label>
                        <select class="form-control" ng-model="abbonamento.meseEmissione" ng-options="mesi.indexOf(mese) as mese for mese in mesi">
                            <!--  ng-change="cambioMesePagamento(mese)"> -->
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="control-label">gg
                        </label>
                        <input xstyle="4em" class="form-control" type="text" ng-model="abbonamento.giorniPagamento" />
                    </div>
                </div>
                <div class="col-md-2    ">
                    <div class="form-group">
                        <label class="control-label">Scadenza teorica</label>
                        <div class="well well-sm" style="text-align: center;">
                            <strong>{{abbonamento.dataScadenza() | date: 'EEEE d MMMM yyyy' }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 form-group align-right">
                    <label class="control-label">Note</label>
                </div>
                <div class="col-md-9 form-group">
                    <textarea class="form-control note" rows="1" ng-model="abbonamento.note" /></textarea>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div ng-include="'partials/formIndirizzo.html'"></div>
    <div ng-include="'partials/formContatti.html'" xng-init="titoloContatti='Contatti manutenzione';">
    </div>
    <!-- </fieldset> -->
</form>
