<div class="panel panel-default" ng-controller="FormIndirizzoCtrl">
    <div class="panel-heading" ng-show="titolo && indirizzo.id">
        <strong>{{titolo}}</strong>
    </div>
    <div class="panel-body">
        <div class="row" ng-hide="indirizzo.id">
            <div class="col-md-12">
                <button class="btn btn-sm btn-primary" ng-click="new()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <strong>&nbsp;&nbsp;&nbsp;Aggiungi indirizzo {{titolo}}</strong>
                <br>
                <br>
            </div>
        </div>
        <div ng-show="indirizzo.id">
            <div class="row">
                <label class="control-label col-md-1 align-right">Indirizzo</label>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="indirizzo.indirizzo" />
                    </div>
                </div>
                <div class="col-md-1 align-right">
                    <label class="control-label">Località</label>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" type="text" ng-model="indirizzo.localita" />
                    </div>
                </div>
            </div>

            <div class="row">

                <label class="control-label align-right col-md-1">
                    <span ng-show="loadingCities" class="glyphicon glyphicon-refresh"> </span>Comune</label>
                <div class="col-md-4">
                    <input type="text" ng-show="!searching" ng-disabled="true" ng-model="comune.comune" class="form-control">
                    <input type="text" ng-show="searching" ng-model="comune.comune" placeholder="comune" typeahead="city as city.comune for city in getCityAsync($viewValue)" typeahead-editable="false" typeahead-loading="loadingCities" typeahead-on-select="gotCity($item, $model, $label);" class="form-control">
                </div>
                <div class="col-md-1 align-right">
                    <label class="control-label">CAP</label>
                </div>
                <div class="col-md-1">

                    <input ng-disabled="true" class="form-control" type="integer" ng-model="comune.CAP" />
                </div>
                <div class="col-md-1 align-right">
                    <label class="control-label">provincia</label>
                </div>
                <div class="col-md-1">
                    <input ng-disabled="true" class="form-control" type="text" ng-model="comune.provincia" />
                </div>
                <div class="col-md-1">
                    <button ng-show="indirizzo.id" class="btn btn-info btn-sm" ng-click="searching=!searching;">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button ng-show="indirizzo.id" class="btn btn-danger btn-sm" ng-click="delete(indirizzo)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
