<div class="panel panel-default" ng-controller="FormContattiCtrl">
    <div class="panel-heading">
        <button class="btn btn-sm btn-primary" ng-click="new()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <strong>{{titoloContatti}}</strong>
    </div>
    <div class="panel-body">
        <div ng-repeat="contatto in contatti">
            <div class="row">
                <label class="col-md-1 align-right">Tipo</label>
                <div class="col-md-2 form-group">
                    <select dir="rtl" class="form-control" required ng-model="contatto.tipo" ng-options="t.tipo as t.nome for t in tipiContatto">
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <input class="form-control" type="text" ng-model="contatto.contatto" />
                </div>
                <label class="col-md-1 align-right">Nota</label>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" ng-model="contatto.descrizione" />
                </div>
                <div class="form-group col-md-1">
                    <button class="btn btn-danger btn-sm" ng-click="delete($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
