<!-- <ul ng-hide="errorMessages.lenght">
    <li ng-repeat="error in errorMessages">{{error}}</li>
</ul>
 -->
<form name="formCliente" novalidate role="form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="cliente.ragioneSociale1" requiredplaceholder="ragione sociale" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="cliente.ragioneSociale2" requiredplaceholder="ragione sociale" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 form-group align-right">
                            <label class="control-label">C.F.</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="cliente.codiceFiscale" />
                            </div>
                        </div>
                        <div class="col-md-2 align-right">
                            <label class="control-label">Partita&nbsp;IVA</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="cliente.partitaIVA" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 form-group align-right">
                    <label class="align-right control-label">Note</label>
                </div>
                <div class="col-md-3 form-group">
                    <textarea class="form-control note" rows="3" ng-model="cliente.note" /></textarea>
                </div>
                <div class="col-md-2 form-group align-right">
                    <button class="btn btn-danger btn-sm" ng-click="delete(cliente.id)">
                        Cancella cliente
                    </button>
                </div>



            </div>
        </div>
    </div>
    <div ng-repeat="bustaIndirizzo in busteIndirizzi">
        <div ng-include="'partials/formIndirizzo.html'"></div>
    </div>
    <div ng-include="'partials/formContatti.html'" ng-init="titoloContatti='Contatti';"></div>
    <div class="panel-heading" ng-show="titolo && indirizzo.id">
        <strong>{{titolo}}</strong>
    </div>
    <div class="panel panel-default" ng-controller="FormContiCorrentiCtrl">
        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-click="new()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <strong>Conti correnti</strong>
        </div>
        <div class="panel-body">
            <div ng-repeat="conto in conti">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label class="control-label">Banca</label>
                        <input class="form-control" type="text" ng-model="conto.banca" />

                    </div>
                    <div class="col-md-2 form-group">
                        <label class="control-label">Filiale</label>
                        <input class="form-control" type="text" ng-model="conto.filiale" />

                    </div>
                    <div class="col-md-1 form-group">
                        <label class="control-label">ABI</label>
                        <input class="form-control" type="text" ng-model="conto.ABI" />

                    </div>
                    <div class="col-md-1 form-group">
                        <label class="control-label">CAB</label>
                        <input class="form-control" type="text" ng-model="conto.CAB" />

                    </div>
                    <div class="col-md-1 form-group">
                        <label class="control-label">Conto</label>
                        <input class="form-control" type="text" ng-model="conto.contoCorrente" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="control-label">IBAN</label>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="conto.IBAN" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-1 form-group">
                        <label class="control-label">&nbsp;</label>
                        <br>
                        <button class="btn btn-danger btn-sm" ng-click="delete($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
